.charts div{
  float: left;
}

@media only screen and (max-width: 850px) {
  .big, .small {
    width: 100%;
    height: 400px;
  }
}

@media only screen and (min-width: 851px) {
  .small {
    width: 50%;
    height: 330px;
  }
  .big {
    width: 50%;
    height: 450px;
  }
}
